exportPattern("^[^\\.]")

import(stats)

S3method(addpoly, default)
S3method(addpoly, rma)
S3method(anova, rma.uni)
S3method(blup, rma.uni)
S3method(cint, rma.uni)
S3method(coef, rma)
S3method(cumul, rma.uni)
S3method(cumul, rma.mh)
S3method(cumul, rma.peto)
S3method(fitstats, rma)
S3method(fitted, rma)
S3method(forest, default)
S3method(forest, rma)
S3method(forest, cumul.rma)
S3method(funnel, rma)
S3method(hatvalues, rma.uni)
S3method(influence, rma.uni)
S3method(leave1out, rma.uni)
S3method(leave1out, rma.mh)
S3method(leave1out, rma.peto)
S3method(logLik, rma)
S3method(permutest, rma.uni)
S3method(plot, infl.rma.uni)
S3method(plot, rma.mh)
S3method(plot, rma.peto)
S3method(plot, rma.uni)
S3method(predict, rma)
S3method(print, anova.rma.uni)
S3method(print, fsn)
S3method(print, infl.rma.uni)
S3method(print, list.rma)
S3method(print, permutest.rma.uni)
S3method(print, predict.rma)
S3method(print, ranktest.rma)
S3method(print, regtest.rma)
S3method(print, rma.mh)
S3method(print, rma.peto)
S3method(print, rma.uni)
S3method(qqnorm, rma.mh)
S3method(qqnorm, rma.peto)
S3method(qqnorm, rma.uni)
S3method(radial, rma)
S3method(ranktest, rma)
S3method(regtest, rma)
S3method(residuals, rma)
S3method(rstandard, rma.mh)
S3method(rstandard, rma.peto)
S3method(rstandard, rma.uni)
S3method(rstudent, rma.mh)
S3method(rstudent, rma.peto)
S3method(rstudent, rma.uni)
S3method(summary, rma)
S3method(trimfill, rma.uni)
S3method(vcov, rma)
S3method(weights, rma.uni)
